.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    vertical-align: middle;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
  width:350px;
}
.col-min {
  min-width:280px;
}
.col-max {
  max-width:350px;
}
.section-separator {
  margin-top: 50px;
  margin-bottom: 50px;
}
.justify-text {
  text-align: justify;
  text-justify: auto;
}
.col-section {
}

@media only screen and (min-width: 1000px) {
  .col-section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
